astroid==3.2.4
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
dill==0.3.9
distlib==0.3.9
env==0.1.0
filelock==3.16.1
fonttools==4.54.1
importlib_resources==6.4.5
isort==5.6.4
kiwisolver==1.4.7
lazy-object-proxy==1.4.3
matplotlib==3.7.5
mccabe==0.7.0
numpy==1.24.4
packaging==24.1
pillow==10.4.0
platformdirs==4.3.6
pycodestyle==2.12.1
pydocstyle==6.3.0
pyflakes==3.2.0
pygame==1.9.6
pylama==8.4.1
pylint==3.2.7
pyparsing==3.1.4
python-dateutil==2.9.0.post0
scipy==1.10.1
six==1.16.0
snowballstemmer==2.2.0
toml==0.10.2
tomli==2.0.2
tomlkit==0.13.2
typing_extensions==4.12.2
virtualenv==20.27.0
wrapt==1.12.1
zipp==3.20.2
